/*
table {
    background-color: aquamarine;
}
*/
h3 {
    background-color: chocolate;
}
.table-data {
    background-color: blueviolet;
}

#id1 {
    background-color: darkgreen;
}

#id2 {
    background-color: darkolivegreen;
}

#id3 {
    background-color: slategray;
}